<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogoteca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>

      {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
      {% endwith %}


  <body>
    <div class="container">
        <h1>Faça seu login</h1>
        <form method="POST" action={{ url_for('autenticar') }}>
            <input type="hidden" name="proxima" value="{{ proxima }}">
                {{ form.csrf_token() }}
            <div class="form-group inputBox">
                {{ form.usuario.label(class="form-label") }}
                {{ form.usuario(class="form-control") }}
            </div>
            <div class="form-group inputBox">
                {{ form.senha.label(class="form-label") }}
                {{ form.senha(class="form-control") }}
            </div>
            <div class="from-group buttons">
                {{ form.entrar(class="btn btn-primary") }}
                <a class="btn btn-danger" href="{{ url_for('index') }}" >Voltar</a>
            </div>
                <button class="btn btn-close-white"> <a class="no-underline" href={{ url_for('criarconta') }}> Criar Conta </a> </button>
        </form>
    </div>
</body>
</html>